.button-bar {
    margin-top: 20px;
}

.investor-breakdown {
    margin-top: 20px
}

.allocation {
    margin-top: 20px
}

.inputs {
    padding: 10px;
    background-color: #dce2e7;
    border: 2px solid #B8C1CB;
    height: 100%;
}

.results {
    padding: 20px;
    border: 2px solid #dce2e7;
    height: 100%;
}

.results p {
    font-weight: bold;
    margin-bottom: 10px;
}

.investor{
    margin-bottom: 10px;
}
